.button {
  display: block;
  margin: auto;
  width: 20%
}

.button-transaction {
  margin: auto;
  display: block;
}

.button-delete {
  float: right;
}

.button-add {
  display: block;
  margin: 20px auto;
  width: 300px;
}

.button-delete-all {
  display: block;
  margin: 20px auto;
  width: 300px;
}

.form-button {
  margin: 0 auto;
}
