.field {
  width:20%;
}

.card-tile {
  text-align: center;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
  width: 40%;
}

form {
  width: 50%;
  margin: auto;
}

.button {
  display: block;
  margin: auto;
  width: 20%
}

.form-button {
  margin: 0 auto;
}

img {
  margin-bottom: 10px;
}
