body {
  background-color: #9EE0C7
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Vollkorn', serif;
  text-align: center;
}

.field, .actions {
  font-family: 'Vollkorn', serif;
  width:40%;
  display:block;
  margin:auto;
}

.card-tile {
  text-align: center;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
  width: 70%;
}

.transaction-tile {
  text-align: center;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
  width: 80%;
}

.transaction-side {
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px auto;
}
.chart-side {
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px auto;
  padding:auto;
  width: 30%;
}

form {
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;

}

.percentage-pie-chart {
  background-color: black;
}

.button {
  display: block;
  margin: auto;
  width: 20%
}

.form-button {
  margin: 0 auto;
}

img {
  margin-bottom: 10px;
}

.sign {
  font-family: 'Vollkorn', serif;
}

.welcome-image {
  height: 200px;
  display: block;
  margin: auto;
}
