body {
  background-color: #11C9AB;
  background-image: 'https://images.unsplash.com/photo-1561414927-6d86591d0c4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2532&q=80'
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Vollkorn', serif;
  text-align: center;
}

.field, .actions {
  font-family: 'Vollkorn', serif;
  width:40%;
  display:block;
  margin:auto;
}

.card-tile {
  text-align: center;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
  width: 40%;
}

.transaction-tile {
  text-align: center;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
  width: 40%;
}

form {
  width: 40%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;

}

.button {
  display: block;
  margin: auto;
  width: 20%
}

.form-button {
  margin: 0 auto;
}

img {
  margin-bottom: 10px;
}

.sign {
  font-family: 'Vollkorn', serif;
}

.welcome-image {
  height: 200px;
  display: block;
  margin: auto;
}
