body {
  background-color: 'white'
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.field, .actions {
  font-family: 'Open Sans', sans-serif;
  width:40%;
  display:block;
  margin:auto;
}

.transaction-side {
  border-radius: 10px;
  margin: 10px auto;
  width: 50%;
  box-shadow: 10px 5px 5px grey;
  background-color: #B8E0FF;
}

.chart-side {
  border-radius: 10px;
  margin: 10px auto;
  width: 65%;
  display: block;
  padding: 5px;
  box-shadow: 10px 5px 5px grey;
  background-color: #FFE3B8;
}

.nickel-title {
  text-align: left;
  float: left;
  color: #3F50B5;
}

.img-credit {
  height:200px;
  width:310px;
  margin-bottom: 10px;
}

form {
  width: 60%;
  margin: auto;
  background-color: #FFEDD1;
  border-radius: 5px;
  padding: 10px;
}

.sign {
  font-family: 'Open Sans', sans-serif;
}

.welcome-image {
  height: 200px;
  display: block;
  margin: auto;
}

.list {
  list-style: none;
}
